/* Importation de la police */
@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/league-spartan/LeagueSpartan-Bold.otf") format("opentype");
  font-display: swap;
}


/* Corps de la page */
body {
  background-image: url('image/pattern-gris.png');
  background-attachment: fixed;
  background-position: center;
  background-size: 150%;
  margin: 0;
  z-index: -1;
}

/* Style des liens */
a, nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
}

/* Police des titres et éléments */
h1, h2, h3, h4, a {
  font-family: "LeagueSpartan";
}

a strong {
  font-family: "Merriweather", serif;
}

.basic-section {
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  background-color: #fffbf6;
  border-radius: 3px;
  max-width: 350px;
  margin-bottom: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

/* Hamburger */
#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  width: 200px;
  font-size: large;
  display: block;
  margin-top: 20px;
  text-align: right;
  transform: translateX(-185px);
  padding: 10px;
  transition: 0.7s;
}

#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  transform: translate(0);
}

/* Menu fixe */
.menu {
  position: fixed;
  z-index: 1000;
}

nav {
  overflow: hidden;
  width: 200px;
  transform: translateX(-200px);
  background-color: rgb(255, 255, 255);
  transition: 0.7s;
}

#hamburger:checked ~ nav {
  transform: translate(0);
  border: 0;
}

/* Liens dans le menu */
.menu > nav > ul > li {
  font-size: small;
  margin: 20px 0;
  padding: 10px;
  list-style: none;
  position: relative;
}

.menu > nav > ul > li::after { /* Appliqué directement à chaque li dans le menu */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5); /* Transparence pour le soulignement */
  transition: width 0.3s ease;
}

.menu > nav > ul > li:hover::after {
  width: 100%; /* Élargissement du soulignement au survol */
}

.menu > nav > ul > li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000; /* Soulignement fort pour l'élément actif */
}


/* Header */
header {
  z-index: 1000;
}

/* Section principale */
.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 50px;
}

h1 {
  margin: auto;
  padding-top: 150px;
  padding-left: 50px;
  background-color: #FDF7F0;
  padding-bottom: 10px;
  word-wrap: break-word;
}

h2 {
  margin-top: 30px;
  text-align: center;
  color: #373737;
  word-wrap: break-word;
}

/* Paragraphes */
p {
  font-style: normal;
  text-align: justify;
  margin: 30px;
  font-size: large;
  color: #000000;
  word-wrap: break-word;
  text-indent: 10px;
}

/* Boutons */
button {
  background-color: #FDF7F0;
  border: 1px solid;
  border-radius: 2px;
  font-size: x-large;
}

.PDFButton, .contactButton {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  margin: 10px;
  height: 40px;
  align-items: center;
  z-index: 1000;
}

.contactButton {
  right: 0;
}

.PDFButton {  
  border: solid 2px #ff0000;
}

.PDFButton:hover, .contactButton:hover {
  transform: scale(1.03);
}

/* Section de coordonnées */
.mes-coordonnées {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
}

.coordonneées {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

.coordonneées h3 {
  display: flex;
  justify-content: center;
}

/* Contact row */
.contact-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

/* Label */
label {
  background-color: #ffffff;
  color: black;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

/* competences */
.competences {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.competence-container {
 margin: 20px;
 max-width: 700px;
 margin: auto;
}

/* Liste index */

.ul-index {
  display: flex;
  flex-direction: column;
  
}


.li-index {
  list-style: none;
  
}