:root {
  --section-background-color : #fffbf6;
  --nav-background-color : rgb(255, 255, 255);
  --underline-menu-color : rgba(0, 0, 0, 0.5);
  --underline-menu-color-active : #000;
  --color-link : rgb(0, 0, 0);


  --backgroung-h1-color : #FDF7F0;
  --h1-color : #000000 ;

  --background-h2-color : none ;
  --h2-color : #000000;

  --h3-color : #000;
  --background-h3-color : #7a4040;

  --button-background-color : #0608939b;
  --button-color : #ffffff; 
  --button-hovering : #257ccda2;
  
 --jauge-color : #FDF7F0;;
 --font-jauge-color : #cdc7c7;

 --width-jauge : 200px;
 --height-jauge: 10px;

 --h4-color : #5c5d5dfc;
 --background-h4-color : #014d9900 ;

 --bar-comp-color : #e2e2e200;
 --background-color-footer: #efefef5e;

 
}



/* Corps de la page */
body {
  background-image: url("image/pattern-cube2.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 150%;
  margin: 0;
  z-index: -1;
}

/* Style des liens */
a, nav a {
  color: var(--color-link);
  text-decoration: none;
  padding: 10px;
}

/* Police des titres et éléments */
h1, h2, h3, a {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

a strong {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.basic-section {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: var(--section-background-color);
  border-radius: 3px;
  max-width: 350px;
  margin-bottom: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
}





section {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Hamburger */
#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  width: 200px;
  font-size: large;
  display: block;
  margin-top: 20px;
  text-align: right;
  transform: translateX(-185px);
  padding: 10px;
  transition: 0.7s;
}

#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  transform: translate(0);
}

/* Menu fixe */
.menu {
  
  position: fixed;
  z-index: 1000;
}

nav {
  overflow: hidden;
  width: 200px;
  transform: translateX(-200px);
  background-color: var(--nav-background-color);
  transition: 0.7s;
}

#hamburger:checked ~ nav {
  transform: translate(0);
  border: 0;
}

/* Liens dans le menu */
.menu > nav > ul > li {
  font-size: small;
  margin: 20px 0;
  padding: 10px;
  list-style: none;
  position: relative;
}

.menu > nav > ul > li::after { /* Appliqué directement à chaque li dans le menu */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--underline-menu-color); /* Transparence pour le soulignement */
  transition: width 0.3s ease;
}

.menu > nav > ul > li:hover::after {
  width: 100%; /* Élargissement du soulignement au survol */
}

.menu > nav > ul > li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--underline-menu-color-active);/* Soulignement fort pour l'élément actif */
}


/* Header */
header {
  
  z-index: 1000;
}

/* Section principale */
.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 50px;
}

h1 {
  margin: auto;
  padding-top: 150px;
  padding-left: 50px;
  background-color: var(--backgroung-h1-color);
  color: var(--h1-color);
  padding-bottom: 10px;
  word-wrap: break-word;
}

h2 {
  margin-top: 30px;
  text-align: center;
  background-color: var(--backgroung-h2-color);
  color: var(--h2-color);
  word-wrap: break-word;
}

.justify {
  text-align: left;
}
/* Paragraphes */
p {
  font-style: normal;
  text-align: center;
  margin: 30px;
  font-size: large;
  color: var(--p-color);
  word-wrap: break-word;
 
}

/* Boutons */

button {
    display: flex;
    border: none;
    border-radius: 5px;
    color : var(--button-color);
    background-color: var(--button-background-color);;
    justify-content: center;
    align-items: center;
    font-size: medium;
}


.CCbutton {
  font-size: x-large;
}

.contactButtons {
 padding: 10px;
}

.contactButton {
  position: fixed;
  bottom: 0;
  margin: 10px;
  height: 40px;
  z-index: 1000;
  right: 0;
  padding: 10px;
}

.PDFButton {  
  width: 40%;
  margin: auto;
  position: relative;
  padding: 10px;
  z-index: 0;
  margin-bottom: 20px;
  padding: 15px;
  
}
.contentConcButton {
  display: flex;
  justify-content: center;
}

.compButton {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  border: none;
  padding: 5px;
  justify-content: center;
  font-size: small;
  cursor: pointer;
}

.compButton:hover, .PDFButton:hover, .contactButton:hover, .CCbutton:hover, .contactButtons:hover{
  transform: scale(1.1);
  background-color: var(--button-hovering);
}

/* Section de coordonnées */
.mes-coordonnées {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
}

.coordonneées {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

.coordonneées h3 {
  display: flex;
  justify-content: center;
}

/* Contact row */
.contact-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.textToCopy {
  display: flex;
  margin-right: 10px;
  word-break: break-all;
}


/* Label */
label {
  background-color: #ffffff;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

/* competences */
.competences {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  gap: 30px;
  transition: all 0.5s ease;
  z-index: 100;
  max-width: 800px;
  justify-content: space-around;
}

.scrolled .competences {
  position: fixed;
  left: auto;
  right: 60px;
  top: 150px;
  padding: 0;
  flex-direction: column;
  transform: none;
  width: 40px;
}

.content-section {
  display: flex;
  flex-direction: column;
  margin-top: 400px;
  gap : 50px;
  
}

.section-comp  {
  position: relative;
  display: flex;
  font-size: x-large;
  flex-direction: column;
  align-items: center;
}

.section-comp::after  {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: var(--bar-comp-color); /* Transparence pour le soulignement */
}

.section-comp p {
  display: flex;
  padding: 20px;
  margin: auto;
  
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: large;
  
}

.projectDone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  color : var(--h4-color);
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  background-color: var(--background-h4-color);
  padding: 10px;
}

.section-comp > h3 {
  color: var(--h3-color);
  font-size: xx-large;
  padding: 20px;
}

.jauge {
  display: flex;
  height: var(--height-jauge);
  width: var(--width-jauge);
  background-color: var(--font-jauge-color);
  justify-content: flex-start;
  margin: auto;
  margin-right: 40px;
  border : 1px solid #000;
  border-radius: 20px;
  margin-left: 30px;
}

.cube-jauge {
  width: 10%;
  height: var(--height-jauge);
  background-color: var(--jauge-color);
  
}

.premier-cube {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  width: 10%;
  height: var(--height-jauge);
  background-color: var(--jauge-color);
}

.dernier-cube {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  width: 10%;
  height: var(--height-jauge);
  background-color: var(--jauge-color);
}

.flag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: large;
}

.section-flag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding-bottom: 100px;
}





/* Liste index */

.ul-index {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.li-index {
  font-size: large;
  margin-right: 20px;
}


footer {
  position: relative;
 display: flex;
 gap: 10px;
 padding-top: 70px;
 background-color: var(--background-color-footer);
 flex-wrap: wrap;
 
 padding-bottom: 20px;
}

footer > h3 {
  position: absolute;
  top :0;
  left: 10px;
  font-size: xx-large;
}

footer > a {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.tools {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap : 50px;
  justify-content: center;

}

.tools-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: underline;
}